$redTomato: #fa2e03;

.register {
    max-width: 100%;
    height: 98vh;
    background: linear-gradient(
            to bottom,
            rgba(163, 86, 86, 0) 0%,
            rgb(202, 71, 71) 100%
        ),
        url('https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg');
    background-size: cover;
    position: relative;

    .top {
        .wrapper {
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                height: 80px;
            }

            .loginButton {
                background-color: #fa2e03;
                border: none;
                color: white;
                border-radius: 5px;
                padding: 5px 15px;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    background-color: #ed6d8d;
                }
            }
        }
    }

    .container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fa2e03;
        h1 {
            font-size: 50px;
        }

        .register-form-button {
            width: 100%;
        }

        Form {
            display: flex;
            flex-direction: column;
            background-color: #fa2e03;
            padding: 30px;
            width: 300px;
            gap: 20px;

            .ant-form-item-explain-error {
                color: white;
            }

            Input {
                padding: 10px;
                border: none;
                border-bottom: 1px solid gray;
                color: black;
            }

            Button {
                padding: 10px;
                border: none;
                background-color: #34160f;
                color: white;
            }

            span {
                font-size: 12px;
                text-align: center;
                color: white;
            }
        }
    }
}
